/bmnroot
!bmnroot/FD/BmnTrigDigitizer.cxx
!bmnroot/FD/BmnTrigDigitizer.h
!bmnroot/FD/CMakeLists.txt
!bmnroot/FD/BmnFDHitCalc.cxx
!bmnroot/FD/BmnFDHitCalc.h
!bmnroot/macro/geometry/create_fd_root_v10.C
!bmnroot/macro/run/readFD.C
!bmnroot/macro/run/run_sim_bmn.C

